.center {
  margin: auto;
  width: 50%;
}

.titulo {
	font-family: calibri;
    font-weight: bold;
    font-size: 1.3em;
    color: #337AFF;
}

input:invalid:required {
  border: 2px dashed red;
}

.resultados {
	font-family: tahoma;   
	font-weight: 100; 
    color: #238E2B;
     font-size: 0.85em;
}

